/*------------------------------------*/
/*  COLORS  */
/*------------------------------------*/
$color-primary: #498aed;
$color-success: #68cc68;
$color-warning: #efc669;
$color-danger: #e4474e;
$color-text-regular: #303133;
$color-text-lighten-low: lighten($color-text-regular, 20%);
$color-text-lighten: lighten($color-text-regular, 40%);
$color-text-darken: darken($color-text-regular, 40%);
$color-text-darken-low: darken($color-text-regular, 20%);
$color-base-active: #aaa; // normal dark
$color-base-focus: #e8e8e8; // normal light
$color-base: #ddd;
$color-base-hover: #f6f6f6; // normal lighter
$color-base-visited: #fff; // normal darker
$color-border: $color-base;
/*------------------------------------*/
/*  DARK COLORS */
/*------------------------------------*/
$dark-color-primary: #3bafda;
$dark-color-success: #1abc9c;
$dark-color-warning: #f7b84b;
$dark-color-danger: #f1556c;
$dark-color-text-regular: #969dad;
$dark-color-text-lighten-low: lighten($dark-color-text-regular, 20%);
$dark-color-text-lighten: lighten($dark-color-text-regular, 40%);
$dark-color-text-darken: darken($dark-color-text-regular, 40%);
$dark-color-text-darken-low: darken($dark-color-text-regular, 20%);
$dark-color-base-active: #272d33; // normal dark
$dark-color-base-focus: #404b56; // normal light
$dark-color-base: #44505d;
$dark-color-base-hover: #3b4651; // normal lighter
$dark-color-base-visited: #2f363e; // normal darker
$dark-color-border: $dark-color-base;
/*------------------------------------*/
/*  FONTS  */
/*------------------------------------*/
$font: Helvetica, Arial, sans-serif;
/*------------------------------------*/
/*  FROM  */
/*------------------------------------*/
$input-font-size: 14px;
$input-height: 40px;
$input-inner-padding: 0 15px;
$input-border-radius: 4px;
$input-border: 1px solid $color-border;

$dark-input-border: 1px solid $dark-color-border;
