#menu {
  background-color: #111;
}
#menu::after {
  content: "";
  display: block;
  clear: both;
}
#menu ul {
  list-style: none;
  position: relative;
  display: table;
  margin: 0;
  padding: 0;
}

#menu ul a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-weight: 300;
  font-size: min(max(1rem, 4vw), 18px);
  line-height: 50px;
  height: 50px;
  padding: 0 15px;
}

#menu ul li {
  position: relative;
  display: table-cell;
  margin: 0;
  padding: 0;
}

#menu ul li.menu-active {
  background: #222;
}

#menu ul li:hover {
  background: #333;
}

#menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #111;
  padding: 0;
}

#menu ul ul li {
  float: none;
  display: block;
  width: 200px;
}

#menu ul ul a {
  line-height: 120%;
  padding: 0 15px;
  line-height: 50px;
  height: 50px;
}

#menu ul ul ul {
  top: 0;
  left: 100%;
}

#menu ul li:hover > ul {
  display: block;
}
