.im-hamburger {
  display: inline-block;
  font: inherit;
  overflow: visible;
  margin: 0;
  padding: 12px;
  cursor: pointer;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
}
.im-hamburger:hover {
  opacity: 0.7;
}
.im-hamburger-box {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 22px;
}
.im-hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}
.im-hamburger-inner,
.im-hamburger-inner:after,
.im-hamburger-inner:before {
  position: absolute;
  width: 32px;
  height: 4px;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  border-radius: 4px;
  background-color: #000;
}
.im-dark .im-hamburger-inner,
.im-dark .im-hamburger-inner:after,
.im-dark .im-hamburger-inner:before {
  background-color: #fff;
}
.im-hamburger-inner:after,
.im-hamburger-inner:before {
  display: block;
  content: "";
}
.im-hamburger-inner:before {
  top: -10px;
}
.im-hamburger-inner:after {
  bottom: -10px;
}
.im-hamburger--spin .im-hamburger-inner {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition-duration: 0.22s;
  transition-duration: 0.22s;
}
.im-hamburger--spin .im-hamburger-inner:before {
  -webkit-transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
}
.im-hamburger--spin .im-hamburger-inner:after {
  -webkit-transition: bottom 0.1s ease-in 0.25s,
    -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s ease-in 0.25s,
    -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s ease-in 0.25s,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s ease-in 0.25s,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.im-toggle .im-hamburger--spin .im-hamburger-inner {
  -webkit-transition-delay: 0.12s;
  transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
.im-toggle .im-hamburger--spin .im-hamburger-inner:before {
  top: 0;
  -webkit-transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  opacity: 0;
}
.im-toggle .im-hamburger--spin .im-hamburger-inner:after {
  bottom: 0;
  -webkit-transition: bottom 0.1s ease-out,
    -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.1s ease-out,
    -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.1s ease-out,
    transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.1s ease-out,
    transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s,
    -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.im-toggle .im-overlay {
  display: block;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: default;
}
.more-icon-wrap {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}
.more-icon-wrap:hover {
  opacity: 0.7;
}
.more-icon,
.more-icon:after,
.more-icon:before {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #000;
}
.more-icon {
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -3px;
}
#header.im-dark .more-icon,
#header.im-dark .more-icon:after,
#header.im-dark .more-icon:before {
  border: 1px solid #fff;
  background-color: #fff;
}
.more-icon:before {
  content: "";
  left: -1px;
  top: -10px;
}
.more-icon:after {
  content: "";
  left: -1px;
  top: 8px;
}
@media (max-width: 768px) {
  .more-icon-wrap {
    display: inline-block;
  }
}
.im-menu {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.im-dark .im-menu {
  background-color: #36404a;
}
.im-nav,
.im-nav a,
.im-nav li,
.im-nav ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  list-style: none;
  display: block;
  position: relative;
}
.im-nav a {
  cursor: pointer;
  padding: 0 16px;
  color: #555;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.im-dark .im-nav a {
  color: #a2a8b5;
}
.im-nav a > i {
  vertical-align: baseline;
  font-size: 0.86em;
  margin-right: 4px;
}
.nav-notify {
  padding-right: 50px !important;
}
.nav-notify > span {
  background-color: #ff7d66;
  color: #fff;
  border-radius: 0.25em;
  font-size: 12px;
  padding: 0 4px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  right: 28px;
  height: 16px;
  line-height: 16px;
}
.menu-vertical .im-nav > .nav-title {
  margin-top: 40px;
}
.menu-vertical .im-nav > .nav-title > div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 42px;
  padding: 0 16px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  text-transform: uppercase;
}
.im-dark .menu-vertical .im-nav > .nav-title > div {
  color: #fff;
}
.im-nav li > a:hover {
  color: rgba(0, 0, 0, 0.8);
}
.im-dark .im-nav li > a:hover {
  color: #fff;
}
.im-nav > li > a:hover,
.im-nav li.im-last-click > a {
  background-color: #d5f2f7;
  color: rgba(0, 0, 0, 0.8);
}
.im-dark .im-nav > li > a:hover,
.im-dark .im-nav li.im-last-click > a {
  background-color: #31707b;
  color: #fff;
}
.im-nav li {
  cursor: default;
  float: left;
  white-space: nowrap;
}
.im-nav ul li {
  float: none;
}
.im-nav .nav-sub > a {
  position: relative;
  padding-right: 30px;
}
.im-nav .nav-sub > a:after {
  position: absolute;
  content: "";
  width: 0.3em;
  height: 0.3em;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: initial;
  right: 1em;
  -webkit-transform-origin: top;
  transform-origin: top;
  top: 50%;
  -webkit-transform: rotate(225deg) translateY(-50%);
  transform: rotate(225deg) translateY(-50%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.nav-right .im-nav .nav-sub > a:after,
.nav-right .im-nav ul .nav-sub > a:after {
  -webkit-transform: rotate(315deg) translateY(-50%);
  transform: rotate(315deg) translateY(-50%);
}
.nav-left .im-nav .nav-sub > a:after,
.nav-left .im-nav ul .nav-sub > a:after {
  -webkit-transform: rotate(135deg) translateY(-50%);
  transform: rotate(135deg) translateY(-50%);
}
#header .im-nav > .nav-sub > a:after,
.im-menu .im-nav .nav-active > a:after {
  -webkit-transform: rotate(225deg) translateY(-50%) !important;
  transform: rotate(225deg) translateY(-50%) !important;
}
.nav-left .im-nav ul .nav-sub > a:after,
.nav-left.menu-vertical .nav-sub.nav-active > a:after {
  -webkit-transform: rotate(135deg) translateY(-50%);
  transform: rotate(135deg) translateY(-50%);
}
.nav-right .im-nav ul .nav-sub > a:after,
.nav-right.menu-vertical .nav-sub.nav-active > a:after {
  -webkit-transform: rotate(315deg) translateY(-50%);
  transform: rotate(315deg) translateY(-50%);
}
.im-nav li li a {
  font-size: 13px;
  line-height: 36px;
}
.im-nav ul {
  min-width: 12em;
  background-color: #fff;
  opacity: 0;
  position: absolute;
  top: 100%;
  z-index: 999;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.im-dark .im-nav ul {
  background-color: #36404a;
}
.nav-left .im-nav ul {
  left: -9999px;
  -webkit-box-shadow: 2px 2px 2px rgba(15, 34, 58, 0.1);
  box-shadow: 2px 2px 2px rgba(15, 34, 58, 0.1);
}
.nav-right .im-nav ul {
  right: -9999px;
  -webkit-box-shadow: -2px 2px 2px rgba(15, 34, 58, 0.1);
  box-shadow: -2px 2px 2px rgba(15, 34, 58, 0.1);
}
#header .im-nav ul {
  -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
}
.im-menu:not(.menu-vertical) li.nav-active > ul,
.im-nav li:hover > ul {
  opacity: 1;
  z-index: 1000;
}
.im-nav > li > ul {
  opacity: 0;
  -webkit-transform: translateY(35px);
  transform: translateY(35px);
  will-change: transform;
  -webkit-transition: opacity 0.6s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.6s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.6s ease;
  transition: transform 0.3s ease, opacity 0.6s ease,
    -webkit-transform 0.3s ease;
}
.nav-left.menu-vertical .im-nav > li > ul {
  -webkit-transform: translate(35px);
  transform: translate(35px);
}
.nav-right.menu-vertical .im-nav > li > ul {
  -webkit-transform: translate(-35px);
  transform: translate(-35px);
}
.im-menu .im-nav > li.nav-active > ul,
.im-menu .im-nav > li:hover > ul {
  -webkit-transform: translate(0);
  transform: translate(0);
}
.nav-left .im-nav li:hover > ul {
  left: 0;
}
.nav-right .im-nav li:hover > ul {
  right: 0;
}
.im-menu .im-nav ul li.nav-active > ul,
.im-nav ul li:hover > ul {
  top: 0;
}
.nav-left .im-menu .im-nav ul li.nav-active > ul,
.nav-left .im-nav ul li:hover > ul {
  left: 100%;
}
.nav-right .im-menu .im-nav ul li.nav-active > ul,
.nav-right .im-nav ul li:hover > ul {
  right: 100%;
}
.menu-vertical {
  display: block;
  width: 240px;
}
.nav-right .im-nav {
  width: 100%;
}
.menu-vertical .im-nav ul {
  top: 0;
}
.menu-vertical li {
  width: 100%;
  float: none;
}
.menu-vertical .nav-active > ul {
  opacity: 1;
}
.nav-left.menu-vertical .im-nav li:hover > ul,
.nav-left.menu-vertical .nav-active > ul {
  left: 100%;
}
.nav-right.menu-vertical .im-nav li:hover > ul,
.nav-right.menu-vertical .nav-active > ul {
  right: 100%;
}
.menu-vertical .im-nav li li a {
  font-size: 16px;
  line-height: 50px;
  -webkit-transition: letter-spacing 0.3s ease;
  transition: letter-spacing 0.3s ease;
}
.menu-vertical .im-nav li li a:hover {
  letter-spacing: 1px;
}
.nav-left-fixed #nav-left .menu-vertical .im-nav li.nav-active ul,
.nav-right-fixed #nav-right .menu-vertical .im-nav li.nav-active ul {
  background-color: #f3f8fb;
}
.nav-left-fixed .im-dark#nav-left .menu-vertical .im-nav li.nav-active ul,
.nav-right-fixed .im-dark#nav-right .menu-vertical .im-nav li.nav-active ul {
  background-color: rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .menu-vertical .im-nav li.nav-active ul {
    background-color: #f3f8fb;
  }
  .im-dark .menu-vertical .im-nav li.nav-active ul {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
body,
html {
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.only-content {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}
#content,
#footer,
#header,
#main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#header {
  z-index: 10000000;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  height: 50px;
}
.im-dark#header {
  background-color: #36404a;
}
.header-fixed #header {
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
}
.header-fixed #main,
.header-fixed .nav-common {
  margin-top: 50px;
}
.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.header-logo {
  display: inline-block;
  font-size: 0;
}
.header-logo > img {
  max-height: 50px;
  min-width: 168px;
}
.nav-common {
  opacity: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 9999999;
  position: relative;
  width: 240px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  min-height: calc(100vh - 50px);
}
#nav-left {
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
}
.im-dark#nav-left {
  background-color: #36404a;
}
#nav-right {
  right: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 4px rgba(15, 34, 58, 0.12);
  box-shadow: 0 -2px 4px rgba(15, 34, 58, 0.12);
}
.im-dark#nav-right {
  background-color: #36404a;
}
.nav-left-fixed #nav-left,
.nav-right-fixed #nav-right {
  top: 0;
  position: fixed;
  overflow: auto;
  min-height: auto;
  height: calc(100% - 50px);
  padding-bottom: 50px;
}
.nav-left-fixed #nav-left .im-menu,
.nav-right-fixed #nav-right .im-menu {
  display: block;
  font-size: 0;
}
.nav-left-fixed #nav-left .menu-list li,
.nav-right-fixed #nav-right .menu-list li {
  width: 100%;
  float: none;
}
.nav-left-fixed #nav-left .menu-list li li a,
.nav-right-fixed #nav-right .menu-list li li a {
  font-size: 16px;
  line-height: 50px;
}
.nav-left-fixed #nav-left .menu-list ul,
.nav-right-fixed #nav-right .menu-list ul {
  overflow: hidden;
  position: static;
  max-height: 0;
  opacity: 1;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}
.nav-left-fixed #nav-left .menu-list .nav-active > ul,
.nav-right-fixed #nav-right .menu-list .nav-active > ul {
  max-height: 1024px;
  -webkit-transition: max-height 0.4s ease-in;
  transition: max-height 0.4s ease-in;
}
@media (max-width: 768px) {
  #header .menu-list li,
  .menu-vertical .menu-list li {
    width: 100%;
    float: none;
  }
  #header .menu-list li li a,
  .menu-vertical .menu-list li li a {
    font-size: 16px;
    line-height: 50px;
  }
  #header .menu-list ul,
  .menu-vertical .menu-list ul {
    overflow: hidden;
    position: static;
    max-height: 0;
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
  }
  #header .menu-list .nav-active > ul,
  .menu-vertical .menu-list .nav-active > ul {
    max-height: 1024px;
    -webkit-transition: max-height 0.4s ease-in;
    transition: max-height 0.4s ease-in;
  }
  #header .im-menu {
    display: none;
    z-index: 10000000;
    position: fixed;
    top: 50px;
    right: 0;
  }
  .im-toggle-header#header .im-menu {
    display: block;
  }
}
.im-toggle .nav-common {
  opacity: 0;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
.im-toggle #nav-left {
  left: -100%;
}
.im-toggle #nav-right {
  right: -100%;
}
.im-toggle-end .nav-common {
  display: none;
}
#main-wrap {
  width: 100%;
  width: calc(100% - 240px);
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 100vh;
}
#main {
  width: 100%;
  color: #333;
}
.im-dark + #main-wrap > #main {
  color: #fff;
}
