* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

.banner-sale-container {
  background-image: url("../images/background/Gift-34.jpg");
  width: 600px;
  height: 600px;
  margin: auto;
  background-size: cover;
  background-position: center;
  position: relative;
  font-family: "Anton", sans-serif;
}

.banner-infoSale {
  position: absolute;
  top: 6%;
  right: 18%;
  width: 120px;
  height: 120px;
  background-size: cover;
  background-image: url("../images/product/heart-34.png");
}

.banner-infoText {
  width: 92%;
  height: 100%;
  padding: 1px;
  color: #fff;
  transform: rotate(20deg);
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  align-items: center;
}

.banner-text {
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.banner-des {
  position: relative;
  width: 78%;
  margin: auto;
}

.text-title {
  font-size: 100px;
  line-height: 1;
  /* font-weight: 600; */
  color: #fefefe;
  padding: 12rem 1rem 1rem;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.button-link {
  /* padding: 3rem 1rem; */
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translate(-50%);
}

.text-des {
  padding: 1rem 12rem;
  color: #fff;
  font-size: 16px;
}

.text-title1 {
  font-size: 42px;
}

.button-href {
  padding: 5px 12px;
  /* border: 1px solid black; */
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  /* font-weight: 600; */
  color: #ff4d4d;
  background-color: #fff;
}

@media (max-width: 375px) {
  .banner-sale-container {
    width: 370px;
    height: 480px;
  }
  .text-des {
    padding: 0px 80px;
    font-size: 10px;
  }
  .text-title {
    font-size: 65px;
    padding: 10rem 1rem 1rem;
  }
  .text-title1 {
    font-size: 20px;
  }
}
