<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <link rel="stylesheet" href="<%= BASE_URL %>icon/themify-icons.css">
  <link rel="stylesheet" href="<%= BASE_URL %>css/vue-bone.css">
  <link rel="stylesheet" href="<%= BASE_URL %>css/vue-tab-markdown.css">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <style>
    #main-wrap {
      padding: 1rem
    }

    #main tab-markdown>div {
      margin-top: 1rem;
    }
  </style>
</head>

<body style="margin: 0;">
  <noscript>
    <strong>We're sorry but multiple-pages doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="page">
    <im-bone @clicked="onClicked" :header-data="headerData" :nav-left-data="navLeftData"
      :background-color="backgroundColor" :menu-float="menuFloat">
      <template :slot="slotLogo">
        <div class="header-logo"><img src="<%= BASE_URL %>img/logo.png" /></div>
      </template>
      <template slot="default">
        <im-player id="im_player">
          <span vue-slot="style">
            .wrap-player{background: transparent}
          </span>
        </im-player>
        <tab-markdown>
          <textarea vue-slot="tab-code">
            <im-player id="im_player">
              <span vue-slot="style">
                //edit css class (See tab "style")
                .wrap-player{background: transparent}
              </span>
            </im-player>

            <script>
              var im_player = document.querySelector('#im_player');
              // config 
              im_player.base = {
                option: {}, //See tab "option"
                data: {} //See tab "data"
              }
            </script>
          </textarea>
          <textarea vue-slot="tab-option">
            | Attribute |	Description |	Type | Accepted Values | Default |
            | --------- | ----------- | ---- | --------------- | ------- |
            | provider | Video hosting service Or Video Local | String | video/youtube/vimeo | youtube |
            | src | EmbedId Or Link | String | ~ | ~ |
          </textarea>
          <textarea vue-slot="tab-data">
            | Attribute |	Description |	Type | Accepted Values | Default |
            | --------- | ----------- | ---- | --------------- | ------- |
          </textarea>
          <textarea vue-slot="tab-style">
            //edit css class (See tab "style")
            .wrap-player{background: transparent}
          </textarea>
        </tab-markdown>
      </template>
    </im-bone>
  </div>

  <script src="<%= BASE_URL %>js/vue.min.js"></script>
  <script src="<%= BASE_URL %>js/vue-custom-element.min.js"></script>
  <script src="<%= BASE_URL %>js/element-ui.js"></script>
  <script src="<%= BASE_URL %>js/vue-bone.js"></script>
  <script src="<%= BASE_URL %>js/vue-tab-markdown.js"></script>
  <%= INIT %>
  <script>
    window.addEventListener('load', (event) => {
      console.log('waiting loaded script');
      var im_player = document.querySelector('#im_player');
      console.log(im_player)
      // config 
      im_player.base = {
        option: {
          src: "bTqVqk7FSmY",
          provider: "youtube"
        }, //See tab "option"
        data: {} //See tab "data"
      }
    });
  </script>
  <!-- built files will be auto injected -->
</body>

</html>