<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <link rel="stylesheet" href="<%= BASE_URL %>icon/themify-icons.css">
  <link rel="stylesheet" href="<%= BASE_URL %>css/vue-bone.css">
  <link rel="stylesheet" href="<%= BASE_URL %>css/vue-tab-markdown.css">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <style>
    #main-wrap {
      padding: 1rem
    }

    #main tab-markdown>div {
      margin-top: 1rem;
    }
  </style>
</head>

<body style="margin: 0;">
  <noscript>
    <strong>We're sorry but multiple-pages doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="page">
    <im-bone @clicked="onClicked" :header-data="headerData" :nav-left-data="navLeftData"
      :background-color="backgroundColor" :menu-float="menuFloat">
      <template :slot="slotLogo">
        <div class="header-logo"><img src="<%= BASE_URL %>img/logo.png" /></div>
      </template>
      <template slot="default">
        <im-form id="im_form">
          <span vue-slot="style">
            .wrap-form{max-width: 400px}
          </span>
        </im-form>
        <tab-markdown>
          <textarea vue-slot="tab-code">
            <im-form id="im_form">
              <span vue-slot="style">
                //edit css class (See tab "style")
                .wrap-form{max-width: 400px}
              </span>
            </im-form>

            <script>
              var im_form = document.querySelector('#im_form');
              // config 
              im_form.base = {
                option: {}, //See tab "option"
                data: {} //See tab "data"
              }
            </script>
          </textarea>
          <textarea vue-slot="tab-option">
            | Attribute |	Description |	Type | Accepted Values | Default |
            | --------- | ----------- | ---- | --------------- | ------- |
            | provider | Video hosting service Or Video Local | String | video/youtube/vimeo | youtube |
            | src | EmbedId Or Link | String | ~ | ~ |
          </textarea>
          <textarea vue-slot="tab-data">
            | Attribute |	Description |	Type | Accepted Values | Default |
            | --------- | ----------- | ---- | --------------- | ------- |
          </textarea>
          <textarea vue-slot="tab-style">
            //edit css class (See tab "style")
            .wrap-form{background: transparent}
          </textarea>
        </tab-markdown>
      </template>
    </im-bone>
  </div>

  <script src="<%= BASE_URL %>js/vue.min.js"></script>
  <script src="<%= BASE_URL %>js/vue-custom-element.min.js"></script>
  <script src="<%= BASE_URL %>js/element-ui.js"></script>
  <script src="<%= BASE_URL %>js/vue-bone.js"></script>
  <script src="<%= BASE_URL %>js/vue-tab-markdown.js"></script>
  <%= INIT %>
  <script>
    window.addEventListener('load', (event) => {
      console.log('waiting loaded script');
      var im_form = document.querySelector('#im_form');
      console.log(im_form)
      // config 
      im_form.base = {
        option: {
          labelPosition: 'right',
          labelWidth: '120px'
        }, //See tab "option"
        data: {
          model: {
            id: 1,
            name: "John Doe",
            password: "",
            passwordConfirm: "",
            skills: [1],
            email: "john.doe@gmail.com",
            status: true,
            addons: [1, 3],
            delivery: 1,
            comment: "Some comment"
          },
          schema: {
            fields: [
              {
                type: "input",
                inputType: "input",
                label: "ID",
                name: "input",
                model: "id",
                readonly: true,
                disabled: true,
                validate: {
                  required: true
                }
              },
              {
                type: "input",
                inputType: "password",
                label: "Password",
                name: "password",
                placeholder: "Type password",
                model: "password",
                validate: {
                  required: true
                }
              },
              {
                type: "input",
                inputType: "password",
                label: "Password confirm",
                name: "passwordConfirm",
                placeholder: "Confirm password",
                model: "passwordConfirm",
                validate: {
                  required: true,
                  confirmed: "password"
                }
              },
              {
                type: "select",
                label: "Skills",
                model: "skills",
                name: "skills",
                placeholder: "Select",
                options: [
                  {
                    label: "label 1",
                    value: 1
                  },
                  {
                    label: "label 2",
                    value: 2
                  },
                  {
                    label: "label 3",
                    value: 3
                  }
                ],
                validate: {
                  required: true,
                  included: [1, 2]
                }
              },
              {
                type: "input",
                inputType: "input",
                label: "Email",
                name: "email",
                placeholder: "Type email",
                model: "email",
                validate: {
                  required: true,
                  email: true
                }
              },
              {
                type: "checkbox",
                label: "Status",
                name: "status",
                checkboxLabel: "Some text",
                model: "status",
                validate: {
                  required: [true]
                }
              },
              {
                type: "checkbox",
                label: "Addons",
                name: "addons",
                model: "addons",
                options: [
                  {
                    label: "label 1",
                    value: 1
                  },
                  {
                    label: "label 2",
                    value: 2
                  },
                  {
                    label: "label 3",
                    value: 3
                  }
                ],
                validate: {
                  required: true
                }
              },
              {
                type: "radio",
                label: "Delivery",
                name: "delivery",
                model: "delivery",
                options: [
                  {
                    label: "label 1",
                    value: 1
                  },
                  {
                    label: "label 2",
                    value: 2
                  },
                  {
                    label: "label 3",
                    value: 3
                  }
                ],
                validate: {
                  required: true
                }
              },
              {
                type: "input",
                inputType: "textarea",
                name: "comment",
                label: "Comment",
                model: "comment",
                validate: {
                  required: true,
                  min: 10
                }
              },
              {
                type: "actions",
                buttons: [
                  {
                    type: "cancel",
                    buttonType: "default",
                    buttonLabel: "Cancel"
                  },
                  {
                    type: "submit",
                    buttonType: "success",
                    buttonLabel: "Submit"
                  }
                ]
              }
            ]
          }
        } //See tab "data"
      }
    });
  </script>
  <!-- built files will be auto injected -->
</body>

</html>